
section {
  margin-bottom: 75px;
}

.image-0 {
  /* no style on this one! */
}

.image-1 {
  width: 50%;
  min-width: 350px;
}

.image-2 {
  height: 250px;
  width: 250px;
}

.image-3 {
  height: 250px;
  width: 250px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
}

.image-4 {
  height: 250px;
  width: 250px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.image-5 {
  display: block;
  height: 250px;
  width: 250px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
}

.image-4 {
  display: block;
  height: 250px;
  width: 250px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
}

.image-6 {
  height: 200px;
  width: 750px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
}

.image-7 {
  height: 500px;
  width: 350px;
  background-image: url("./images/cat-1.jpg");
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.image-8 {
  position: relative;
  height: 500px;
  width: 350px;
}

.image-8 img {
  position: absolute;
  top: 0;
  animation-name: fade;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes fade {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

.frame-2 {
  animation-delay: -2s;
}

