
.image-1 {
  /* no style on this one! */
}

.image-1 {
  height: 100px;
  width: 100px;
}

.image-2 {
  height: 100px;
  width: 100px;
  background-color: pink;
}

.image-3 {
  height: 100px;
  width: 100px;
  background-color: pink;
}
  
.image-4 {
  height: 100px;
  width: 100px;
  background-color: pink;
}
  
.image-5 {
  height: 100px;
  width: 100px;
  background-color: pink;
}